{%- include symbols.html -%}
<script>
    // Light/Dark mode implementation
    if (localStorage.themeMode) {
        if (localStorage.themeMode == "dark") {
            document.getElementById("book").classList.toggle("dark-mode");
        }
    } else {
        localStorage.themeMode = "light";
    }
    function toggleDarkmode() {
        document.getElementById("book").classList.toggle("dark-mode");
        localStorage.themeMode == "light"
            ? (localStorage.themeMode = "dark")
            : (localStorage.themeMode = "light");
    }
    // Sidebar toggle implementation
    if (localStorage.sidebar) {
        if (localStorage.sidebar == "close") {
            document.getElementById("book").classList.toggle("with-summary");
        }
    } else {
        localStorage.sidebar = "open";
    }
    // function removeSidebar() {
    //     console.log(document.getElementById("book").classList.contains("with-summary"))
    //     if (screen.width <= 640 && ) {
    //         // document.getElementById("book").classList.remove("with-summary");
    //         // localStorage.sidebar == "open"
    //         //     ? (localStorage.sidebar = "close")
    //         //     : (localStorage.sidebar = "open");
    //         console.log(document.getElementById("book").classList.contains("with-summary"))
    //     }
    // }
    function toggleSidebar() {
        document.getElementById("book").classList.toggle("with-summary");
        localStorage.sidebar == "open"
            ? (localStorage.sidebar = "close")
            : (localStorage.sidebar = "open");
    }    
    // Media query for the sidebar
    function responsiveSidebar(mediaListener) {
        if (mediaListener.matches) {
            document.getElementById("book").classList.remove("with-summary");
        } else {
            document.getElementById("book").classList.add("with-summary");
        }
    }
    var mediaListener = window.matchMedia("(max-width: 768px)");
    responsiveSidebar(mediaListener); // Call listener function at run time
    mediaListener.addListener(responsiveSidebar); // Attach listener function on state changes
</script>
