<div class="book-summary">
    <ul class="summary">
        <div style="height: 3em"></div>
        <li class="divider"></li>
        <li class="chapter">
            <a href="{{site.baseurl}}/index.html"> Home </a>
        </li>
        <li class="divider"></li>
        {% for category in site.categories %}{% capture category_name %}{{
        category | first }}{% endcapture %}
        <li class="chapter">
            <a
                href="{{site.baseurl}}/{{ category_name | slugize }}"
                style="text-transform: capitalize"
            >
                {{ category_name }}
            </a>
        </li>
        {% endfor %}
        <li class="divider"></li>
        {%- include social.html -%}
    </ul>

    <ul class="summary book-settings">
        <li class="chapter">
            <a onclick="toggleDarkmode()">
                <svg>
                    <use xlink:href="#colormode" />
                </svg>
            </a>
            <a onclick="toggleFontType()">
                <svg id="serif-icon">
                    <use xlink:href="#serifmode" />
                </svg>
                <svg id="sans-icon">
                    <use xlink:href="#sansmode" />
                </svg>
            </a>
            <a onclick="decFontSize()">
                <svg>
                    <use xlink:href="#fontdec" />
                </svg>
            </a>
            <a onclick="incFontSize()">
                <svg>
                    <use xlink:href="#fontinc" />
                </svg>
            </a>
        </li>
    </ul>
</div>
