<div class="book-summary">
    <div class="header">
        <a class="header" href="{{site.baseurl}}/index.html">
            Adithya Krishnan
        </a>            
    </div>
    <ul class="summary">                
        <li class="divider"></li>
        <li class="chapter">
            <a href="{{site.baseurl}}/index.html"> Home </a>
        </li>
        <li class="divider"></li>
        {% for category in site.categories %}{% capture category_name %}{{
        category | first }}{% endcapture %}
        <li class="chapter">
            <a
                href="{{site.baseurl}}/{{ category_name | slugize }}"
                style="text-transform: capitalize"
            >
                {{ category_name }}
            </a>
        </li>
        {% endfor %}
        <li class="divider"></li>
        {%- include social.html -%}
    </ul>
</div>
