{%- assign social = site.social_links -%} {% if social %} {% if social.github %}
<li class="chapter">
    <a href="https://github.com/{{ social.github }}">
        
        <svg>
            <use xlink:href="#github" />
        </svg>
        {{ social.github }}
    </a>
</li>
{% endif %} {% if social.twitter %}
<li class="chapter">
    <a href="https://twitter.com/{{ social.twitter }}">
        
        <svg>
            <use xlink:href="#twitter" />
        </svg>
        {{ social.twitter }}
    </a>
</li>
{% endif %} {% if social.linkedin %}
<li class="chapter">
    <a href="https://www.linkedin.com/in/{{ social.linkedin }}">
        
        <svg>
            <use xlink:href="#linkedin" />
        </svg>
        {{ social.linkedin }}
    </a>
</li>
{% endif %}
<li class="divider"></li>
{% endif %}