@media (min-width: 640px) {
    .home-menu-sm {
        display: none;
    }
    .home-menu-md {
        display: block;
    }
    .width-25 {
        width: 25%;
    }
    .width-50 {
        width: 50%;
    }
    .width-75 {
        width: 75%;
    }
}

.img-caption {
    text-align: center;
    margin: auto;
    width: 85%;
    font-size: small;
}