:root {
    --summary-width-lg: 300px;
    --summary-width-md: 200px;
    --page-max-width: 800px;
    --page-margin: 0 auto;
    --page-padding: 30px 60px 40px 40px;
    --page-padding-md: 25px;
    /* Color theme: light */
    /* --primary-lgt: #008cff;  */
    --primary-lgt: #4183c4; 
    --bg-main-lgt: #fff;
    --text-main-lgt: #000;
    --text-nav-lgt: #7e888b;
    --text-hover-nav-lgt: #7e888b;
    --btn-nav-lgt: #bbbbbb;
    --btn-hover-nav-lgt: #333333;
    --border-sdbr-lgt: rgba(0, 0, 0, 0.07);
    --text-sdbr-lgt: #364149;
    --bg-sdbr-lgt: #fafafa;
    --bg-hover-sdbr-lgt: #ddd;
    --md-text-lgt: #333;
    --md-text-mute-lgt: #858585;
    --md-hr-lgt: #ccc; /*TODO merge with muted e5e5e5 */
    --md-table-bg-lgt: #ffffff;
    --md-table-bg-2n-lgt: #f8f8f8;
    --md-table-border-th-lgt: #ddd;
    --md-table-border-tr-lgt: #ccc;
    --md-code-bg-lgt: #f7f7f7;
    /* Color theme: dark */
    --primary-drk: #3eb1d0; 
    --bg-main-drk: #1c1f2b;
    --text-main-drk: #bdcadb;
    --text-nav-drk: #7e888b;
    --btn-nav-drk: #3b3f54; /* 666666 */
    --btn-hover-nav-drk: #fffff5; /* dddddd */
    --border-sdbr-drk: rgba(255, 255, 255, 0.07); /* #62687f; */
    --text-sdbr-drk: #bcc1d2; /* c1c6d7 62687f f4f4f5*/
    --bg-sdbr-drk: #2d3143;
    --bg-hover-sdbr-drk: #252737;
    --md-text-drk: #fffffa;
    --md-text-mute-drk: #373b4e; /* hr: #ccc; */
    --md-table-bg-drk: #2d3143;
    --md-table-bg-2n-drk: #35394b;
    --md-table-border-th-drk: #3b3f54;
    --md-table-border-tr-drk: #3b3f54;
    --md-code-bg-drk: #282a39; /* 2d3143 */

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
html {
    font-size: 62.5%;
}
.book {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.book-body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    color: var(--text-main-lgt);
    background: var(--bg-main-lgt);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}
.book-body .body-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}
.body-navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    font-size: 0.85em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-nav-lgt);
    background-color: var(--bg-main-lgt);
    background: 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.body-navbar .btn {
    cursor: pointer;
    height: 50px;
    margin: 0 8px;
    border-bottom: none;
    color: var(--text-nav-lgt);
    line-height: 50px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
    text-decoration: none;
}
.body-navbar .btn:hover {
    color: var(--btn-hover-nav-lgt);
    background: none;
    background: 0 0;
}
.body-navbar .btn svg {
    height: 15px;
    width: 15px;
    fill: var(--btn-nav-lgt);
}
.body-navbar .btn svg:hover {
    fill: var(--btn-hover-nav-lgt);
}
.page-wrapper {
    position: relative;
    outline: 0;
}
.page-inner {
    position: relative;
    max-width: var(--page-max-width);
    margin: var(--page-margin);
    padding: var(--page-padding);
}
.page-inner section {
    font-size: 1.6rem;
}
.page-inner .btn-group .btn {
    border-radius: 0;
    /* background: #eee; */
    border: 0;
}
.book-summary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    left: calc(-1 * var(--summary-width-lg));
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    width: var(--summary-width-lg);
    color: var(--text-sdbr-lgt);
    background: var(--bg-sdbr-lgt);
    border-right: 1px solid var(--border-sdbr-lgt);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}
.book-summary ul.summary {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
}
.book-summary ul.summary li {
    list-style: none;
}
.book-summary ul.summary li.header {
    padding: 25px;
    padding-top: 30px;
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    /* color: #939da3; */
}
.book-summary div.header {
    padding: 25px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;    
}
.book-summary div.header a.header {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-sdbr-lgt);  
}
.book-summary ul.summary li.divider {
    height: 1px;
    margin: 7px 0;
    overflow: hidden;
    background: var(--border-sdbr-lgt);
}
.book-summary ul.summary li.done > a {
    color: var(--text-sdbr-lgt);
    font-weight: 400;
}
.book-summary ul.summary li a,
.book-summary ul.summary li span {
    display: block;
    padding: 10px 25px;
    border-bottom: none;
    color: var(--text-sdbr-lgt);
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.book-summary ul.summary li a svg {
    margin-right: 5px;
    height: 12px;
    width: 12px;
    fill: var(--text-sdbr-lgt);
}
.book-summary ul.summary li a:hover {
    text-decoration: none;
    background: var(--bg-hover-sdbr-lgt);
}
.book-summary ul.summary li a:focus {
    outline: 0;
}
.book-summary ul.summary li.active > a {
    color: var(--primary-lgt);
    background: 0 0;
    text-decoration: none;
}
.book-summary ul.summary li ul {
    padding-left: 20px;
}
.book.with-summary .book-summary {
    left: 0;
}
.book.without-animation .book-summary {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.book.with-summary .book-body {
    left: var(--summary-width-lg);
}
.book.without-animation .book-body {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.display-none {
    display: none;
}

@media (max-width: 768px) {
    .book-summary {
        left: calc(-1 * var(--summary-width-md));
        width: var(--summary-width-md);
    }
    .book.with-summary .book-body {
        left: var(--summary-width-md);
    }
    .page-inner {
        padding: var(--page-padding-md);
    }
    .body-navbar .btn svg {
        height: 13px;
        width: 13px;        
    }
}

h1.category {
    font-size: 2.4rem !important;
    font-weight: 400 !important;
    text-transform: capitalize;
}

div.category {
   margin: 30px 0;
}

a.category {
    font-size: 1.7rem !important;
    font-weight: 500 !important;
    text-transform: capitalize;
}

.gist table tr, td {
    border: none !important;
}

.gist .gist-data table tr, td {
    background-color: var(--color-canvas-default) !important;
}

.gist .gist-data table td span {
    background-color: var(--color-canvas-default) !important;
}