:root {
    --summary-width: 200px;
    --page-max-width: 800px;
    --page-margin: 0 0;
    --page-padding: 30px 25px 40px 60px;
    --page-padding-md: 25px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
body,
html {
    height: 100%;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.book {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.book-body {
    position: relative;
    color: #000;
    background: #fff;
}
.book-body .body-inner {
    margin: auto;
    max-width: calc(var(--page-max-width) + 50px);
}
.body-navbar {
    height: 50px;
    padding: 0 20px;
    font-size: 0.85em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7e888b;
    background: 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.body-navbar .btn {
    cursor: pointer;
    height: 50px;
    padding: 0 15px;
    border-bottom: none;
    color: #aaaaaa;
    line-height: 50px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
    text-decoration: none;
}
.body-navbar .btn:hover {
    color: #333333;
    background: 0 0;
}
.body-navbar .btn svg {
    height: 14px;
    width: 14px;
    fill: #bbbbbb;
}
.body-navbar .btn svg:hover {
    fill: #333333;
}
.body-navbar-routing {
    height: 50px;
    padding: 0 20px;
    font-size: 0.85em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7e888b;
    background: 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.body-navbar-routing .btn {
    cursor: pointer;
    height: 50px;
    padding: 0 15px;
    border-bottom: none;
    color: #aaaaaa;
    line-height: 50px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
    text-decoration: none;
}

.page-wrapper {
    position: relative;
    outline: 0;
}
.page-inner {
    position: relative;
    max-width: var(--page-max-width);
    margin: var(--page-margin);
    padding: var(--page-padding);
}
@media (max-width: 768px) {
    .page-inner {
        padding: var(--page-padding-md);
    }
}
.page-inner .btn-group .btn {
    border-radius: 0;
    background: #eee;
    border: 0;
}

.display-none {
    display: none;
}
