/* Dark mode theme */
.book.dark-mode .book-body {
    color: var(--text-main-drk);
    background: var(--bg-main-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section {
    background: var(--bg-main-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal {
    color: var(--text-main-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal a {
    color: var(--primary-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal h1,
.book.dark-mode .book-body .page-wrapper .page-inner section.normal h2,
.book.dark-mode .book-body .page-wrapper .page-inner section.normal h3,
.book.dark-mode .book-body .page-wrapper .page-inner section.normal h4,
.book.dark-mode .book-body .page-wrapper .page-inner section.normal h5,
.book.dark-mode .book-body .page-wrapper .page-inner section.normal h6 {
    color: var(--md-text-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal h1,
.book.dark-mode .book-body .page-wrapper .page-inner section.normal h2 {
    border-color: var(--md-text-mute-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal h6 {
    color: var(--md-text-mute-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal hr {
    background-color: var(--md-text-mute-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal blockquote {
    border-color: var(--md-text-mute-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal pre,
.book.dark-mode .book-body .page-wrapper .page-inner section.normal code {
    background: var(--md-code-bg-drk);
    border-color: var(--md-code-bg-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal .highlight :not(.gist) {
    background-color: var(--md-code-bg-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal table th :not(.gist),
.book.dark-mode .book-body .page-wrapper .page-inner section.normal table td :not(.gist){
    border-color: var(--md-table-border-th-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal table tr :not(.gist){
    /* color: #b6c2d2; */
    background-color: var(--md-table-bg-drk);
    border-color: var(--md-table-border-tr-drk);
}
.book.dark-mode .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) :not(.gist) {
    background-color: var(--md-table-bg-2n-drk);
}
.book.dark-mode .body-navbar {
    color: var(--text-nav-drk);
    background-color: var(--bg-main-drk);
}
.book.dark-mode .body-navbar .btn {
    color: var(--btn-nav-drk);
}
.book.dark-mode .body-navbar .btn:hover {
    color: var(--btn-hover-nav-drk);    
}
.book.dark-mode .body-navbar .btn svg {
    fill: var(--btn-nav-drk);
}
.book.dark-mode .body-navbar .btn svg:hover {
    fill: var(--btn-hover-nav-drk);
}
.book.dark-mode .book-body .navigation {
    color: var(--btn-nav-drk);
}
.book.dark-mode .book-body .navigation:hover {
    color: var(--btn-hover-nav-drk);    
}
.book.dark-mode .book-summary {
    color: var(--text-sdbr-drk);
    background: var(--bg-sdbr-drk);
    border-right: 1px solid var(--border-sdbr-drk);
}
.book.dark-mode .book-summary div.header a.header{
    color: var(--text-sdbr-drk);
}
.book.dark-mode .book-summary ul.summary li.divider {
    background: var(--border-sdbr-drk);
}
.book.dark-mode .book-summary .book-search {
    background: transparent;
}
.book.dark-mode .book-summary .book-search input,
.book.dark-mode .book-summary .book-search input:focus {
    border: 1px solid transparent;
}
.book.dark-mode .book-summary ul.summary li.done > a {
    color: var(--text-sdbr-drk);
}
.book.dark-mode .book-summary ul.summary li a,
.book.dark-mode .book-summary ul.summary li span {
    color: var(--text-sdbr-drk);
}
.book.dark-mode .book-summary ul.summary li a svg {
    fill: var(--text-sdbr-drk);
}
.book.dark-mode .book-summary ul.summary li.active > a {
    color: var(--primary-drk);
}
.book.dark-mode .book-summary ul.summary li a:hover {
    background: var(--bg-hover-sdbr-drk);
}
