:root {
    --summary-width: 200px;
    --page-max-width: 800px;
    /* --page-margin: 0 0;
    --page-padding: 30px 25px 40px 60px; */
    --page-margin: 0 auto;
    --page-padding: 40px 40px;
    --page-padding-md: 25px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
body,
html {
    height: 100%;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.book {
    position: relative;
    width: 100%;
}
body {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.book-body {
    position: relative;
    color: #000;
    background: #fff;
    height: 100%;
}
.book-body .body-inner {
    padding-top: 20px;
    margin: auto;
    max-width: calc(var(--page-max-width) + 50px);
}
.page-wrapper {
    position: relative;
    outline: 0;
}
.page-inner {
    position: relative;
    max-width: var(--page-max-width);
    margin: var(--page-margin);
    padding: var(--page-padding);
}
@media (max-width: 768px) {
    .page-inner {
        padding: var(--page-padding-md);
    }
}
.page-inner .btn-group .btn {
    border-radius: 0;
    background: #eee;
    border: 0;
}
.display-none {
    display: none;
}
.body-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 0.85em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7e888b;
    background: 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.body-navbar .btn {
    margin: auto 0;
    cursor: pointer;
    margin: 0 15px;
    color: #364149;
    line-height: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
/* .body-navbar .btn:hover {
    color: #6b808f;
    background: 0 0;
} */
.body-navbar .btn svg {
    height: 14px;
    width: 14px;
    fill: #666666;
}
.body-navbar .btn:hover svg {
    fill: #333333;
}
.dropdown {
    position: relative;
    line-height: 30px;
    font-size: 1em;
}
.dropdown-menu.open {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
    float: left;
    min-width: 130px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
    text-transform: capitalize;
}
.menu-right {
    right: 0;
}
.menu-left {
    left: 0;
}
.caret-left {
    left: 14px;
}
.caret-right {
    right: 14px;
}
.dropdown-menu .dropdown-caret {
    position: absolute;
    top: -8px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}
.dropdown-menu .dropdown-caret .caret-outer {
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(0, 0, 0, 0.1);
    height: auto;
    left: 0;
    top: 0;
    width: auto;
    display: inline-block;
    margin-left: -1px;
}
.dropdown-menu .dropdown-caret .caret-inner {
    position: absolute;
    display: inline-block;
    margin-top: -1px;
    top: 0;
    top: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fafafa;
}
.dropdown-menu .button.size-2 {
    width: 50%;
}
.dropdown-menu .button.size-3 {
    width: 33%;
}
.dropdown-menu .button {
    border: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    float: left;
    line-height: 1.42857143;
    margin: 0;
    padding: 8px 4px;
}

.home-menu-md {
    display: none;
}

.blue-line {
    color: #364149;
    border-bottom: 2px solid #00f;
}

@media (min-width: 640px) {
    .home-menu-sm {
        display: none;
    }
    .home-menu-md {
        display: block;
    }
}
